.profile {
    margin: 20px auto;
}

.profile__info {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.profile__info img {
    width: 100%;
    object-fit: cover;
}

.profile__info div {
    flex: 1 1 auto;
}

.profile__info_name {
    margin: 0;
    font-weight: normal;
    font-size: 40px;
    line-height: 58px;
}

.profile__info_table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}
.profile__info_table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
}
.profile__info_table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
.profile__info_table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
.profile__info_table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.profile__info_table tbody tr:nth-child(even){
    background: #f3f3f3;
}
.profile__info_table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.profile__info_table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}
