@import url('./vendor/fonts/fonts/fonts.css');

:root {
  --white-color: #FFFFFF;
  --black-color: #212529;
  --pink-color: #FB538F;
  --orange-color: #F7A93E;
  --lite-blue-color: #51C3E4;
  --green-color: #6ECD78;
  --red-color: #f23623;
  --gray-color: #8B8B8B;
}

body, #root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--white-color);
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  color: var(--black-color);

  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
