.page_item {
    margin: 20px 60px;
    display: flex;
    width: auto;
    flex-direction: column;
}

.page_item__head {
    margin: 0 0 30px;
    text-align: left;
    font-weight: normal;
    font-size: 40px;
}

.page_item__head_center {
    text-align: center;
}

.page_item__date {
    color: var(--gray-color);
}

.page_item__buttons {
    display: flex;
    margin-bottom: 20px;
}

.page_item__button {
    margin: 0 10px;
}

.page_item__button_red {
    background: var(--red-color);
}

.page_item__button_gray {
    background: var(--gray-color);
}

.page_item__links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.page_item__links_item {
    padding: 20px 40px;
    max-width: 300px;
    height: 80px;
    text-align: center;
    justify-content: center;
}

.page_item__content {
    display: flex;
}

.page_item__content__nav {
    margin: 0 50px 0 0;
    width: 300px;
    height: auto;
    text-transform: initial;
    padding: 5px 5px;
    text-align: left;
    justify-content: left;
}

.page_item__content__nav:hover {
    background: var(--gray-color);
    opacity: 1;
    color: var(--white-color);
}
