.news-item {
    border-radius: 6px;
    -webkit-box-shadow: 0 0 6px 0 var(--gray-color);
    -moz-box-shadow: 0 0 6px 0 var(--gray-color);
    box-shadow: 0 0 6px 0 var(--gray-color);
    color: inherit;
    text-decoration: none;
    transition: linear 200ms;
}

.news-item div:first-child {
    overflow: hidden;
}

.news-item__img {
    border-radius: 6px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -webkit-transition: all 400ms ease-out;
}

.news-item__img:hover, .news-item__img:focus {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.news-item__text {
    overflow: hidden;
    display: flex;
    position: relative;
    padding: 10px 20px;
    justify-content: space-between;
}

.news-item__title {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.news-item__date {
    margin: 0 0 0 10px;
    padding: 5px;
    height: 100%;
    border-radius: 5px;
    font-size: 12px;
    background: var(--gray-color);
    opacity: .5;
}

.news-item__img#id0 {
    background: url("../../../images/pattern1.png") no-repeat center var(--pink-color);
}

.news-item__img#id1 {
    background: url("../../../images/pattern2.png") no-repeat center var(--orange-color);
}

.news-item__img#id2 {
    background: url("../../../images/pattern3.png") no-repeat center var(--green-color);
}

.news-item__img#id3 {
    background: url("../../../images/pattern4.png") no-repeat center var(--lite-blue-color);
}
